<div class="item-details">
    {{#if location}}
    <div class="item-details-title">
        {{location}}
    </div>
    {{/if}}
    {{#if startDate}}
    {{#if endDate}}
    <div class="date">
        {{formatDate startDate}} — {{formatDate endDate}}{{#if startDate2}}{{#if endDate2}}, {{formatDate startDate2}} —
        {{formatDate endDate2}}{{else}}, {{formatDate startDate2}} — Present{{/if}}{{/if}}
    </div>
    {{else}}
    <div class="date">
        {{formatDate startDate}} — Present
    </div>
    {{/if}}
    {{/if}}
</div>
